@import "vars";
.category {
    padding: 60px 0;
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 419px;
        background-image: url(../img/men.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        &--women {
            background-image: url(../img/women.jpg);
        }
        &--accessories {
            background-image: url(../img/accessories.jpg);
        }
    }
    &__item-title {
        margin: 0;
    }
    &__link {
        font-family: $secondary-font;
        font-style: italic;
        font-weight: 300;
        font-size: 40px;
        line-height: 40px;
        text-transform: capitalize;
        color: #FFFFFF;
        text-decoration: none;
        &:hover {
            color: $accent;
        }
    }
}